In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder, OneHotEncoder, StandardScaler
from sklearn.model_selection import train_test_split
import pickle

In [2]:
dataset = pd.read_csv("Churn_Modelling.csv")
dataset.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

#### Preprocessing

In [3]:
dataset = dataset.drop(["RowNumber","CustomerId","Surname"],axis=1)
dataset.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [4]:
dataset[["Gender","Geography"]]

      Gender Geography
0     Female    France
1     Female     Spain
2     Female    France
3     Female    France
4     Female     Spain
...      ...       ...
9995    Male    France
9996    Male    France
9997  Female    France
9998    Male   Germany
9999  Female    France

[10000 rows x 2 columns]

In [5]:
### Label Encoding Gender
encoder_gen = LabelEncoder()
dataset['Gender'] = encoder_gen.fit_transform(dataset["Gender"])
dataset.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0

In [6]:
### OneHot Encoder Geography
encoder_geo = OneHotEncoder()
encoded_geo = encoder_geo.fit_transform(dataset[["Geography"]]).toarray()
encoded_geo_df = pd.DataFrame(encoded_geo,columns = encoder_geo.get_feature_names_out(["Geography"]))
encoded_geo_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [7]:
dataset = pd.concat([dataset.drop(['Geography'],axis=1),encoded_geo_df],axis=1)
dataset

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,1,39,5,0.00,2,1,0,96270.64,0,1.0,0.0,0.0
9996,516,1,35,10,57369.61,1,1,1,101699.77,0,1.0,0.0,0.0
9997,709,0,36,7,0.00,1,0,1,42085.58,1,1.0,0.0,0.0
9998,772,1,42,3,75075.31,2,1,0,92888.52,1,0.0,1.0,0.0
9999,792,0,28,4,130142.79,1,1,0,38190.78,0,1.0,0.0,0.0

In [8]:
### Train Test Split

x = dataset.drop("EstimatedSalary",axis=1)
y = dataset["EstimatedSalary"]

In [33]:
### Saving the encoders

with open("label_encoder_gen.pkl","wb") as file:
    pickle.dump(encoder_gen,file)

with open("one_hot_enc_geo.pkl","wb") as file:
    pickle.dump(encoder_geo,file)

In [10]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2)

In [12]:
scaler = StandardScaler()
x_train = scaler.fit_transform(x_train)
x_test = scaler.transform(x_test)

In [34]:
with open("regression_scaler.pkl","wb") as file:
    pickle.dump(scaler,file)

### Training ANN for Regression

In [14]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [17]:
(x_train.shape[1],)

(12,)

In [18]:
### Build the model

model = Sequential([
    Dense(64, activation = "relu",input_shape = (x_train.shape[1],)),
    Dense(32,activation = "relu"),
    Dense(1)   ### default activation : Linear for regression
])

c:\Users\ViditAgarwal\Desktop\AI ML learned code\Deep Learning\ANN Churn Modelling\venv\Lib\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [19]:
model.compile(optimizer='adam',loss = "mean_absolute_error",metrics=["mae"])

In [20]:
model.summary()

Model: "sequential"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense (Dense)                   │ (None, 64)             │           832 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_1 (Dense)                 │ (None, 32)             │         2,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_2 (Dense)                 │ (None, 1)              │            33 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 2,945 (11.50 KB)

 Trainable params: 2,945 (11.50 KB)

 Non-trainable params: 0 (0.00 B)

In [23]:
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard
import datetime

###Setting up TensorBoard
log_dir = "regression_logs/fit"+ datetime.datetime.now().strftime("%Y%m%d-%H%M%S")

tensorboard_callback = TensorBoard(log_dir = log_dir,histogram_freq=1)

In [25]:
### Setting up early stopping
early_stopping_callback = EarlyStopping(monitor = "val_loss",patience=10,restore_best_weights=True)

In [26]:
history  = model.fit(
    x_train,y_train,
    validation_data = (x_test,y_test),
    epochs=100,
    callbacks = [early_stopping_callback,tensorboard_callback]
)

Epoch 1/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 7ms/step - loss: 99606.4453 - mae: 99606.4453 - val_loss: 99784.1953 - val_mae: 99784.1953
Epoch 2/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 98980.9062 - mae: 98980.9062 - val_loss: 98399.8750 - val_mae: 98399.8750
Epoch 3/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 97886.9922 - mae: 97886.9922 - val_loss: 94849.5156 - val_mae: 94849.5156
Epoch 4/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 93081.9219 - mae: 93081.9219 - val_loss: 88886.0312 - val_mae: 88886.0312
Epoch 5/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 86353.5469 - mae: 86353.5469 - val_loss: 80949.3359 - val_mae: 80949.3359
Epoch 6/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 77463.1406 - mae: 77463.1406 - val_loss: 72053.3203 - val_mae: 72053.3203
Epoch 7/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 69408.1406 - mae: 69408.1406 - val_loss: 63998.1836 - val_mae: 63998.1836
Epoch 8/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 62932.7891 - mae: 62932.7891 - val_loss: 57850.8281 - val_mae: 57850.8281
Epoch 9/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 57118.3555 - mae: 57118.3555 - val_loss: 54085.3086 - val_mae: 54085.3086
Epoch 10/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 53990.8828 - mae: 53990.8828 - val_loss: 52197.8047 - val_mae: 52197.8047
Epoch 11/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 51602.3320 - mae: 51602.3320 - val_loss: 51343.4531 - val_mae: 51343.4531
Epoch 12/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 50600.6172 - mae: 50600.6172 - val_loss: 51078.6680 - val_mae: 51078.6680
Epoch 13/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50501.5195 - mae: 50501.5195 - val_loss: 50980.2344 - val_mae: 50980.2344
Epoch 14/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 50501.3477 - mae: 50501.3477 - val_loss: 50921.8047 - val_mae: 50921.8047
Epoch 15/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 50277.7539 - mae: 50277.7539 - val_loss: 50867.4805 - val_mae: 50867.4805
Epoch 16/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 50288.6445 - mae: 50288.6445 - val_loss: 50812.8008 - val_mae: 50812.8008
Epoch 17/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 49712.2695 - mae: 49712.2695 - val_loss: 50758.7578 - val_mae: 50758.7578
Epoch 18/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 50103.6641 - mae: 50103.6641 - val_loss: 50722.2070 - val_mae: 50722.2070
Epoch 19/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49806.2734 - mae: 49806.2734 - val_loss: 50672.5664 - val_mae: 50672.5664
Epoch 20/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49912.7148 - mae: 49912.7148 - val_loss: 50629.0898 - val_mae: 50629.0898
Epoch 21/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50623.0430 - mae: 50623.0430 - val_loss: 50597.2266 - val_mae: 50597.2266
Epoch 22/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50381.8438 - mae: 50381.8438 - val_loss: 50567.2852 - val_mae: 50567.2852
Epoch 23/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49605.1484 - mae: 49605.1484 - val_loss: 50536.6406 - val_mae: 50536.6406
Epoch 24/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50100.8750 - mae: 50100.8750 - val_loss: 50511.5078 - val_mae: 50511.5078
Epoch 25/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49869.8984 - mae: 49869.8984 - val_loss: 50480.5508 - val_mae: 50480.5508
Epoch 26/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49797.2891 - mae: 49797.2891 - val_loss: 50456.1094 - val_mae: 50456.1094
Epoch 27/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49705.9414 - mae: 49705.9414 - val_loss: 50426.9766 - val_mae: 50426.9766
Epoch 28/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 50011.0625 - mae: 50011.0625 - val_loss: 50409.3203 - val_mae: 50409.3203
Epoch 29/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49977.7383 - mae: 49977.7383 - val_loss: 50394.0508 - val_mae: 50394.0508
Epoch 30/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50239.4961 - mae: 50239.4961 - val_loss: 50375.3555 - val_mae: 50375.3555
Epoch 31/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50112.5391 - mae: 50112.5391 - val_loss: 50363.8516 - val_mae: 50363.8516
Epoch 32/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49954.5234 - mae: 49954.5234 - val_loss: 50337.8594 - val_mae: 50337.8594
Epoch 33/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49409.6523 - mae: 49409.6523 - val_loss: 50327.4961 - val_mae: 50327.4961
Epoch 34/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49598.3359 - mae: 49598.3359 - val_loss: 50318.4922 - val_mae: 50318.4922
Epoch 35/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49972.5039 - mae: 49972.5039 - val_loss: 50302.2266 - val_mae: 50302.2266
Epoch 36/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49330.0625 - mae: 49330.0625 - val_loss: 50292.8867 - val_mae: 50292.8867
Epoch 37/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49375.6758 - mae: 49375.6758 - val_loss: 50273.8867 - val_mae: 50273.8867
Epoch 38/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49716.0938 - mae: 49716.0938 - val_loss: 50267.9062 - val_mae: 50267.9062
Epoch 39/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 50037.4375 - mae: 50037.4375 - val_loss: 50260.9453 - val_mae: 50260.9453
Epoch 40/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 49325.0156 - mae: 49325.0156 - val_loss: 50251.5156 - val_mae: 50251.5156
Epoch 41/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 49774.0859 - mae: 49774.0859 - val_loss: 50241.7266 - val_mae: 50241.7266
Epoch 42/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 49636.4805 - mae: 49636.4805 - val_loss: 50234.8438 - val_mae: 50234.8438
Epoch 43/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49423.1914 - mae: 49423.1914 - val_loss: 50220.9453 - val_mae: 50220.9453
Epoch 44/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49373.2812 - mae: 49373.2812 - val_loss: 50212.0352 - val_mae: 50212.0352
Epoch 45/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49425.8281 - mae: 49425.8281 - val_loss: 50200.1680 - val_mae: 50200.1680
Epoch 46/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49799.6406 - mae: 49799.6406 - val_loss: 50196.0078 - val_mae: 50196.0078
Epoch 47/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49403.7812 - mae: 49403.7812 - val_loss: 50192.7617 - val_mae: 50192.7617
Epoch 48/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49490.8789 - mae: 49490.8789 - val_loss: 50183.3398 - val_mae: 50183.3398
Epoch 49/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49606.2383 - mae: 49606.2383 - val_loss: 50177.2578 - val_mae: 50177.2578
Epoch 50/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49886.4453 - mae: 49886.4453 - val_loss: 50170.1758 - val_mae: 50170.1758
Epoch 51/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49609.0039 - mae: 49609.0039 - val_loss: 50161.8828 - val_mae: 50161.8828
Epoch 52/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49485.3789 - mae: 49485.3789 - val_loss: 50158.6406 - val_mae: 50158.6406
Epoch 53/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 50126.0859 - mae: 50126.0859 - val_loss: 50150.1797 - val_mae: 50150.1797
Epoch 54/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49378.1719 - mae: 49378.1719 - val_loss: 50144.5117 - val_mae: 50144.5117
Epoch 55/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 50243.0039 - mae: 50243.0039 - val_loss: 50141.8125 - val_mae: 50141.8125
Epoch 56/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49940.1562 - mae: 49940.1562 - val_loss: 50139.9727 - val_mae: 50139.9727
Epoch 57/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49675.9062 - mae: 49675.9062 - val_loss: 50137.1484 - val_mae: 50137.1484
Epoch 58/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49602.0508 - mae: 49602.0508 - val_loss: 50136.3281 - val_mae: 50136.3281
Epoch 59/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49072.8828 - mae: 49072.8828 - val_loss: 50129.7148 - val_mae: 50129.7148
Epoch 60/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 48999.8086 - mae: 48999.8086 - val_loss: 50118.2305 - val_mae: 50118.2305
Epoch 61/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49761.7070 - mae: 49761.7070 - val_loss: 50119.9336 - val_mae: 50119.9336
Epoch 62/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49516.2812 - mae: 49516.2812 - val_loss: 50111.7031 - val_mae: 50111.7031
Epoch 63/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49580.8477 - mae: 49580.8477 - val_loss: 50109.5586 - val_mae: 50109.5586
Epoch 64/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49254.5508 - mae: 49254.5508 - val_loss: 50106.8711 - val_mae: 50106.8711
Epoch 65/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49358.9883 - mae: 49358.9883 - val_loss: 50103.8945 - val_mae: 50103.8945
Epoch 66/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49528.6133 - mae: 49528.6133 - val_loss: 50099.5195 - val_mae: 50099.5195
Epoch 67/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50001.6836 - mae: 50001.6836 - val_loss: 50100.3047 - val_mae: 50100.3047
Epoch 68/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49887.4336 - mae: 49887.4336 - val_loss: 50102.2461 - val_mae: 50102.2461
Epoch 69/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49602.2539 - mae: 49602.2539 - val_loss: 50098.9453 - val_mae: 50098.9453
Epoch 70/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - loss: 49626.8086 - mae: 49626.8086 - val_loss: 50094.5781 - val_mae: 50094.5781
Epoch 71/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - loss: 49063.3047 - mae: 49063.3047 - val_loss: 50093.2266 - val_mae: 50093.2266
Epoch 72/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - loss: 49249.6562 - mae: 49249.6562 - val_loss: 50086.8945 - val_mae: 50086.8945
Epoch 73/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49523.7695 - mae: 49523.7695 - val_loss: 50093.0977 - val_mae: 50093.0977
Epoch 74/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49118.6016 - mae: 49118.6016 - val_loss: 50085.9297 - val_mae: 50085.9297
Epoch 75/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49729.6211 - mae: 49729.6211 - val_loss: 50087.7852 - val_mae: 50087.7852
Epoch 76/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49144.7070 - mae: 49144.7070 - val_loss: 50083.7461 - val_mae: 50083.7461
Epoch 77/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49349.4219 - mae: 49349.4219 - val_loss: 50079.8359 - val_mae: 50079.8359
Epoch 78/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49445.5469 - mae: 49445.5469 - val_loss: 50075.8008 - val_mae: 50075.8008
Epoch 79/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49636.7617 - mae: 49636.7617 - val_loss: 50077.2617 - val_mae: 50077.2617
Epoch 80/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49685.4570 - mae: 49685.4570 - val_loss: 50075.1914 - val_mae: 50075.1914
Epoch 81/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49570.9688 - mae: 49570.9688 - val_loss: 50073.4453 - val_mae: 50073.4453
Epoch 82/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49311.0820 - mae: 49311.0820 - val_loss: 50072.2070 - val_mae: 50072.2070
Epoch 83/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49393.4062 - mae: 49393.4062 - val_loss: 50067.2188 - val_mae: 50067.2188
Epoch 84/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49263.1719 - mae: 49263.1719 - val_loss: 50070.5781 - val_mae: 50070.5781
Epoch 85/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49721.8398 - mae: 49721.8398 - val_loss: 50065.7109 - val_mae: 50065.7109
Epoch 86/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49244.8984 - mae: 49244.8984 - val_loss: 50067.1836 - val_mae: 50067.1836
Epoch 87/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49135.6719 - mae: 49135.6719 - val_loss: 50067.5430 - val_mae: 50067.5430
Epoch 88/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49268.0625 - mae: 49268.0625 - val_loss: 50066.0977 - val_mae: 50066.0977
Epoch 89/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49271.9453 - mae: 49271.9453 - val_loss: 50059.6172 - val_mae: 50059.6172
Epoch 90/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49895.4453 - mae: 49895.4453 - val_loss: 50056.6602 - val_mae: 50056.6602
Epoch 91/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49236.6094 - mae: 49236.6094 - val_loss: 50062.9414 - val_mae: 50062.9414
Epoch 92/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49537.7109 - mae: 49537.7109 - val_loss: 50058.8555 - val_mae: 50058.8555
Epoch 93/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49916.0312 - mae: 49916.0312 - val_loss: 50058.5703 - val_mae: 50058.5703
Epoch 94/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49314.4375 - mae: 49314.4375 - val_loss: 50057.0273 - val_mae: 50057.0273
Epoch 95/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49618.7422 - mae: 49618.7422 - val_loss: 50060.3672 - val_mae: 50060.3672
Epoch 96/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49350.1875 - mae: 49350.1875 - val_loss: 50060.2422 - val_mae: 50060.2422
Epoch 97/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49613.2227 - mae: 49613.2227 - val_loss: 50059.0742 - val_mae: 50059.0742
Epoch 98/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49422.2461 - mae: 49422.2461 - val_loss: 50051.9844 - val_mae: 50051.9844
Epoch 99/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 10ms/step - loss: 49828.8711 - mae: 49828.8711 - val_loss: 50053.1484 - val_mae: 50053.1484
Epoch 100/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 10ms/step - loss: 48949.8789 - mae: 48949.8789 - val_loss: 50046.3477 - val_mae: 50046.3477

In [32]:
model.save("regression_model.h5")

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.

In [27]:
%load_ext tensorboard

In [30]:
%tensorboard --logdir regression_logs/fit20250223-015014

Reusing TensorBoard on port 6006 (pid 15472), started 0:00:08 ago. (Use '!kill 15472' to kill it.)

In [31]:
### Evaluate the model on test data

test_loss,test_mae = model.evaluate(x_test,y_test)

print("Test MAE:{}".format(test_mae))
print("Test Loss:{}".format(test_loss))

63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 50120.5703 - mae: 50120.5703
Test MAE:50046.34765625
Test Loss:50046.34765625

#### Load the model

- Go to new ipynb file -- check there how it is done